
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav {
  background-color: #ffffff;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

nav ul {
  list-style: none;
  display: flex;
  margin-left: auto; 
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #6fff00;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #88cc88;
}

.section {
  padding: 40px 0;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: -2px;
}

button {
  background-color: #44b404;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}

#routes {
  margin-right: 25px;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
